/* .nb-body {
  background-color: black;
} */

.nb-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: black;
}




.nb-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid green; */
  width: 35rem;
  margin-right: 1rem;
}
.linko {
  text-decoration: none !important;
}

  
.nb-links button {
  border: none;
  background-color: rgb(99, 207, 240);
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  transition: 0.3s;
  height: 2.5rem;
  width: 6rem;
}
.nb-links button:hover {
  background-color: black;
  color: rgb(99, 207, 240);
}

